<div class="container">
    <legend>Update Post</legend>
    <form [formGroup]="myForm"(ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td>Title Post:</td>
          <td>
            <input type="text" formControlName="postTitle" style="width: 200px;">
            <!-- Adjust the width as needed -->
            <div *ngIf="postTitle.errors && postTitle.touched"> 
              <div *ngIf="postTitle.errors['required']">Title is mandatory!</div>
              <div *ngIf="postTitle.errors['minlength']">Minimum
                {{postTitle.errors['minlength'].requiredLength}} characters as you typed
                {{postTitle.errors['minlength'].actualLength}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Body:</td>
          <td>
            <textarea formControlName="body" style="width: 300px; height: 100px;"></textarea>
            <div *ngIf="body.errors && body.touched"> 
              <div *ngIf="body.errors['required']">Body is mandatory!</div>
              <div *ngIf="body.errors['minlength']">Minimum
                {{body.errors['minlength'].requiredLength}} characters as you typed
                {{body.errors['minlength'].actualLength}}
              </div>
            </div>
          </td>
        </tr>
        
        <tr>
          <td></td>
          <td>
            <button type="submit" [disabled]="myForm.invalid">Update Post</button>
        </td>
        </tr>
      </table>
    </form>
  </div>
  <div>
    <a routerLink="/ListPost" class="nav-link" routerLinkActive="active">Back to List</a>
</div>
  
